<apex:page controller="MKP011.Dynamic_Sharing_Setup_Controller" setup="true" >
	<apex:form >
		<apex:pageBlock helpURL="http://www.mkpartners.com/support" helpTitle="MK Partners Support" >
			<apex:pageBlockButtons >
				<apex:commandButton value="New Rule" action="{!addRule}" />
				<apex:commandButton value="Save" action="{!saveRules}" />
			</apex:pageBlockButtons>
			<apex:pageBlockSection title="Select an Object" collapsible="false">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Object" />
					<apex:selectList value="{!selectedObject}" size="1" multiselect="false" >
						<apex:actionSupport event="onchange" action="{!selectObject}" />
						<apex:selectOptions value="{!objectTypes}" />
					</apex:selectList>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
		</apex:pageBlock>
	
		<apex:pageBlock title="{!selectedObjectProper} Dynamic Sharing Rules" rendered="{!selectedObject != null}" id="theRuleBlock" helpURL="http://www.mkpartners.com/support" helpTitle="MK Partners Support" >
			<apex:outputText value="No existing rules found, click the New Rule button to create one." rendered="{!hasRules != true}" />
			<apex:repeat value="{!rules}" var="r" >
				<apex:pageBlockSection title="{!selectedObjectProper} Rule {!r.RuleName}" collapsible="false" columns="3">
					<apex:pageBlockSectionItem >
						<apex:outputLabel value="Share With Public Group" />
						<apex:selectList value="{!r.ShareWithId}" size="1" multiselect="false">
							<apex:selectOptions value="{!shareWithOptions}" />
						</apex:selectList>
					</apex:pageBlockSectionItem>
					<apex:pageBlockSectionItem >
						<apex:outputLabel value="Access Level" />
						<apex:selectList value="{!r.AccessLevel}" size="1" multiselect="false">
							<apex:selectOptions value="{!accessOptions}" />
						</apex:selectList>
					</apex:pageBlockSectionItem>
					<apex:pageBlockSectionItem >
						<apex:commandButton value="Delete this Rule" action="{!deleteRule}" reRender="theRuleBlock">
							<apex:param name="thisrow" assignTo="{!thisRow}" value="{!r.RuleNumber}" />
						</apex:commandButton>
					</apex:pageBlockSectionItem>
				</apex:pageBlockSection>
				<apex:pageBlockSection collapsible="false" columns="1">
					<apex:pageBlockTable value="{!r.ruleItems}" var="ri" id="theTable" rendered="{!hasRules}">
						<apex:column headerValue="#" rendered="false">
							<apex:outputText value="{!ri.ruleEntry.Name}" />
						</apex:column>
						<apex:column headerValue="Field" >
							<apex:selectList value="{!ri.ruleEntry.MKP011__Field_Name__c}" size="1" multiselect="false" >
								<apex:selectOptions value="{!fieldOptions}" /> 
							</apex:selectList>
							<apex:facet name="footer" >
								<apex:commandButton value="Add Rule Entry" action="{!addRuleEntry}" reRender="theTable">
									<apex:param name="thisrow" assignTo="{!thisRow}" value="{!r.RuleNumber}" />
								</apex:commandButton>
							</apex:facet>
						</apex:column>
						<apex:column headerValue="Operator" >
							<apex:selectList value="{!ri.ruleEntry.MKP011__Operator__c}" size="1" multiselect="false" >
								<apex:selectOptions value="{!operatorOptions}" />
							</apex:selectList>
						</apex:column>
						<apex:column headerValue="Value" >
							<apex:inputField value="{!ri.ruleEntry.MKP011__Field_Value__c}" />
						</apex:column>
						<apex:column headerValue="Action" >
							<apex:commandButton value="Delete" action="{!deleteRuleEntry}" reRender="theTable" >
								<apex:param name="thisrow" assignTo="{!thisRow}" value="{!r.RuleNumber}" />
								<apex:param name="thisentry" assignTo="{!thisEntry}" value="{!ri.ruleEntryNumber}" />
							</apex:commandButton>
						</apex:column>
					</apex:pageBlockTable>
				</apex:pageBlockSection>
			</apex:repeat>
		</apex:pageBlock>

		<apex:pageBlock title="Debug Data" rendered="{!debug}" helpURL="http://www.mkpartners.com/support" helpTitle="MK Partners Support" >
			<apex:pageBlockTable value="{!rawData}" var="r" >
				<apex:column headerValue="Object" >
					<apex:outputText value="{!r.ruleEntry.MKP011__Object_Name__c}" />
				</apex:column>
				<apex:column headerValue="Field Name" >
					<apex:outputText value="{!r.ruleEntry.MKP011__Field_Name__c}" />
				</apex:column>
				<apex:column headerValue="Operator" >
					<apex:outputText value="{!r.ruleEntry.MKP011__Operator__c}" />
				</apex:column>
				<apex:column headerValue="Value" >
					<apex:outputText value="{!r.ruleEntry.MKP011__Field_Value__c}" />
				</apex:column>
				<apex:column headerValue="Share With" >
					<apex:outputLink value="/{!r.ruleEntry.MKP011__Share_With_Id__c}" >{!r.ruleEntry.MKP011__Share_With_Label__c}</apex:outputLink>
				</apex:column>
				<apex:column headerValue="Access Level" >
					<apex:outputText value="{!r.ruleEntry.MKP011__Access_Level__c}" />
				</apex:column>
			</apex:pageBlockTable>
		</apex:pageBlock>
	</apex:form>
</apex:page>