<apex:page cache="false" name="ASP_Custom1" id="thisPage" controller="InvestmentSubmissionController" title="ASP_Components4" showHeader="false" sidebar="false" standardStylesheets="false">
<html lang="en">

<HEAD> 
<TITLE>Investment Proposal Submission - CalPERS</TITLE> 
    <apex:stylesheet value="{!URLFOR($Resource.IPTS_Styles, '/ipts/css/reset.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.IPTS2_Styles, '/ipts-2/css/style2.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.IPTS_CustomStyles)}"/>
    <script src="{!$Resource.IPTS_Script}" type="text/javascript"/>
    
    <apex:stylesheet value="{!URLFOR($Resource.Bootstrap, 'bootstrap/css/bootstrap.min.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.Bootstrap, 'bootstrap/js/bootstrap.min.js')}"/>    
</HEAD>       
    <body>
    <DIV class="container">    
        <div id="ackContent">
            <br/>
            <apex:image url="{!URLFOR($Resource.logo)}" width="201" height="46" alt="CalPERS Logo"  />
            <br/>
            <h1><apex:outputText id="name"  value="{!tempCampaignName}"  /></h1>
            <apex:outputPanel id="proposalPanel">
                <apex:form id="thisForm" styleClass="cmxform" target="_self">
                <apex:outputText id="name1"  value="{!ASPcustomrec1[1].asp_component__r.textvalue__c  }" escape="false" />
                    <dl>
                        <apex:repeat value="{!OppQuestions}" var="custrec1">

                            <label for="thisPage:thisForm:FieldTitle">{!custrec1.Field_Title__c}</label>
                                <apex:inputTextArea id="FieldValue" value="{!custrec1.Field_Value__c}" style="width: 550px; height: 100px;"/>
                        </apex:repeat>
                    </dl>
                    
                </apex:form>
            <apex:form id="thisForm1" styleClass="cmxform" target="_self">
                   
                    <ol class="buttons">
                        <li><apex:commandButton value="Previous" action="{!previous}" immediate="true" styleClass="btn btn-primary btn-sm"/></li>
                        <li>
                            <apex:commandButton value="Next"  action="{!next}" styleClass="btn btn-primary btn-sm"/>
                        </li>
                        <li>
                            <apex:commandButton value="Cancel" action="{!ASPOverview}" styleClass="btn btn-primary btn-sm" immediate="true" />
                        </li>
                    </ol>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                </apex:form>
            </apex:outputPanel>
        </div>

        <script src="{!$Resource.IPTS_Resize}" type="text/javascript"/>
        <script src="{!$Resource.IPTS_Session}" type="text/javascript"/>
    </DIV>         
    </body>
    <DIV class="footer text-center">
      <SPAN class="tagline">We serve those who serve California.</SPAN><BR/>© 
        Copyright 2015 California Public Employees' Retirement System (CalPERS)
        <BR/><BR/>
    </DIV>
 </html>    
</apex:page>