<apex:page cache="true" name="ASP_RadioAttachment" id="thisPage" standardStylesheets="false" controller="InvestmentSubmissionController" title="ASP_RadioAttachment" showHeader="false" sidebar="false">
<html lang="en">
    <head><title>ASP_RadioAttachment</title>

    <apex:stylesheet value="{!URLFOR($Resource.IPTS_Styles, '/ipts/css/reset.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.IPTS2_Styles, '/ipts-2/css/style2.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.IPTS_CustomStyles)}"/>
    <script src="{!$Resource.IPTS_Script}" type="text/javascript"/>
    <script type="text/javascript">
        function validateFile()
        {
            var elm = document.getElementsByName("thisPage:thisForm:FileNames:inputFile:file");
            return validateAttachment(elm[0]);
        }
    </script>
    </head>
    <body>
        <div id="ackContent">
            <br/>
            <apex:image url="{!URLFOR($Resource.logo)}" width="201" height="46" alt="CalPERS Logo"  />
            <br/>
            <h1><apex:outputText id="name"  value="{!tempCampaignName}"  /></h1>
            
            <apex:outputPanel id="proposalPanel">
                                
                <apex:form id="thisForm" styleClass="cmxform" target="_self">
                    
                        
                    <dl>
                        <apex:repeat value="{!ASPcomprecAll}" var="assetDesc">
                            <dt><h3>{!assetDesc.title__c}&nbsp;
                            </h3></dt>
                            <apex:outputtext value="{!assetDesc.TextValue__c}" escape="false"  />
                            <br />
                        </apex:repeat>
                    </dl>      
                    <fieldset>                  
                        <ol>
                            <li>
                                <fieldset>
                                    <ol>

                                        <li>
                                <apex:outputPanel id="classPanel" style="width: 100%;">
                                    <fieldset>
                                       
                                        <ol>
                                            <li>
                                                <apex:actionRegion >
                                                    <apex:selectRadio id="ExistingRel" value="{!submittorAccount.Do_You_Have_Existing_Relationship__c}" layout="pageDirection">
                                                        <apex:selectOptions value="{!radioOptions}" />
                                                        <apex:actionSupport event="onclick" action="{!setExistingRelationshipOption}" rerender="classPanel"/>
                                                    </apex:selectRadio>
                                                </apex:actionRegion>
                                            </li>
                                        </ol>
                                    </fieldset>
                                    <apex:outputPanel rendered="{!renderPriorRelationshipClasses}" style="width: 100%;">
                        <fieldset> 
                            <legend>Add Attachment</legend>
                                <ol>
                                    <li>
                                        <label for="thisPage:thisForm:FileNames:inputFile:file">File Name</label>
                                        <apex:inputFile id="FileNames1" value="{!attachManager.attachmentRef.body}" filename="{!attachManager.attachmentRef.Name}" title="Please enter a file name or tab to the browse button" />
                                    </li>
                                </ol> 
                        </fieldset>

                                    </apex:outputPanel>
                                    
                                </apex:outputPanel>
                            </li>                                      
                                    </ol>
                                </fieldset>
                               
                            </li>
                    </ol>
                    </fieldset>
                    <ol class="buttons">
                        <li><apex:commandButton value="Previous" action="{!previous}" immediate="true"  styleClass="btn btn-primary btn-sm"/></li>
                        <li><apex:commandButton value="Next"  action="{!next}" styleClass="btn btn-primary btn-sm"/></li>
                        <li><apex:commandButton value="Save and Exit" action="{!nextAndSave}" rendered="{!attachManager.isListContext}" styleClass="btn btn-primary btn-sm" onClick="return confirm('{!JSENCODE(saveAlert)}');" /></li>
                        <li><apex:commandButton value="Cancel" action="{!cancel}"  styleClass="btn btn-primary btn-sm" immediate="true" rendered="{!attachManager.isListContext}" onClick="return confirm('{!JSENCODE(cancelAlert)}');" /></li>
                    </ol>
                    <div class="bigspacer"></div>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <apex:actionFunction name="clearSession" action="{!cancel}" immediate="true" />
                </apex:form>
            </apex:outputPanel>

        </div>
        
        <script src="{!$Resource.IPTS_Resize}" type="text/javascript"/>
        <script src="{!$Resource.IPTS_Session}" type="text/javascript"/>
        <script type="text/javascript" >
            <apex:outputPanel layout="none" rendered="{!dupeExists}" >
                alert('{!JSENCODE(dupeAlert)}');
            </apex:outputPanel>
            <apex:outputPanel layout="none" rendered="{!!dupeExists && isSaveAndContinue}" >
                top.location.href = "{!cancelURL}";
            </apex:outputPanel>
        </script>
    </body>
    <DIV class="footer text-center">
      <SPAN class="tagline">We serve those who serve California.</SPAN><BR/>© 
        Copyright 2015 California Public Employees' Retirement System (CalPERS)
        <BR/><BR/>
    </DIV>
 </html>    
</apex:page>