<apex:page controller="NoNoneForPicklistController2">

Please select required security question:
<apex:form >
<apex:selectList size="5" multiselect="true" value="{!ccRequest.Type_of_Request__c}">
<apex:selectOptions value="{!AllsecurityOptions }"/>
</apex:selectList>
</apex:form> 

</apex:page>