<apex:page standardController="Change_control_request__c" extensions="changecontrolformCNTRL" id="thisPage"    sidebar="false" standardStylesheets="true"  showHeader="false"  > 
<apex:stylesheet value="{!URLFOR($Resource.bootpers, 'bootpers/resources/css/bootstrap.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.bootpers, 'bootpers/resources/css/calpers-theme.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.bootpers, 'bootpers/resources/css/style.css')}"/>
<html>
<head>
  
 
<style>
table {   
}
<!-- Basic Styles -->
    <apex:stylesheet value="{!URLFOR($Resource.bootpers, 'bootpers/resources/css/bootstrap.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.bootpers, 'bootpers/resources/css/calpers-theme.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.bootpers, 'bootpers/resources/css/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.bootpers, 'bootpers/resources/css/font-awesome.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.bootpers, 'bootpers/resources/css/forms.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.bootpers, 'bootpers/resources/css/bid-opps.css')}"/>
   <!-- <apex:stylesheet value="{!URLFOR($Resource.bootpers, 'bootpers/resources/css/equal-height-columns.css')}"/> -->
   
<!-- Basic Scripts -->
    <apex:includeScript value="{!URLFOR($Resource.bootpers, 'bootpers/resources/js/widgets.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootpers, 'bootpers/resources/js/npm.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootpers, 'bootpers/resources/js/jquery.validate.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootpers, 'bootpers/resources/js/jquery.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootpers, 'bootpers/resources/js/jquery.bxslider.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootpers, 'bootpers/resources/js/bxslider.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootpers, 'bootpers/resources/js/bootstrap.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootpers, 'bootpers/resources/js/back-to-top.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.bootpers, 'bootpers/resources/js/accordion-glyphicon.js')}"/> 
  
</style>
   
</head>

       
<body>
     
<apex:form >
<div class="container">
<apex:actionFunction name="AddMoreEnvi" action="{!AddMoreEnvi}" rerender="Envi"/>
<apex:pageblock id="pgblk" mode="edit"  >
<div id="InnternalDiv" style="width:1000px;">
<apex:pageBlockButtons location="bottom"  > 
<td>
<apex:commandButton action="{!SaveChangeControlForm}" value="Save and Add Attachments" style="background-image:none; 
background:#336699  ; 
padding:6px;
color: white;
width:400px;
height:40px;
border: none;
cursor: pointer;
font-family: Arial;
box-shadow: 0 9px #999;
font-size: 1.28em;
border-radius:6px;
justify-content: right;
 outline: none;

 display: block; 
padding-left:10px;
styleClass=btn btn-primary btn-sm"/></td> 

</apex:pageBlockButtons>

<div class="container">
<table class="table" style="width:98%">
<img src="{!URLFOR($Resource.pearslogo)}"   width="201"  height="50"  alt="CalPERS Logo"   style="vertical-align:right"  /> 

<tr>
<td align="center"><h1 style="font-size: 2em"> <B> <font face="verdana" color="black"><i>CHANGE CONTROL REQUEST FORM </i></font></B></h1></td>
<td align="center"> </td>   
</tr>

</table>
</div >

<div class="container">
<table  class="table"  style="width:98%; align-center; border: 3px solid black; border-collapse: collapse;">
 <tr style="border-bottom:3px solid black">
  <td><h1 style="font-size: 17px"><b>Type of Request:</b></h1></td>
    <td><b><apex:inputfield required="true" value="{!Change_control_request__c.Type_of_Request__c}" /></b></td>
    <td></td>
    <td></td>
  </tr>
  <!---<div   >
                                    <label>Type of Request <span class="required-field">(required)</span></label>  
                                    <table> 
                                    <tr>                                                               
                                   <td> <apex:inputcheckbox value="{!DefectCorrection}"/>  </td>
                                       <td> <apex:inputcheckbox value="{!Enhancement}"/> </td>
                                          <td>  <apex:inputcheckbox value="{!NewRequest}"/> </td>
                                             <td><apex:inputcheckbox value="{!Other}"/>   </td>    
                                             </tr> 
                                             </table>                                                                                                                   
                            </div>   --->     
  <tr style="border-bottom: 3px solid black">
  <td><h1 style="font-size: 17px"><b>Request Date:</b></h1></td>
    <td><h1 style="font-size: 17px"><b><apex:inputfield value="{!Change_control_request__c.Request_Date__c}" /></b></h1></td>
    <td></td>
    <td></td>
  </tr>
  <tr style="border-bottom: 3px solid black">
    <td><h1 style="font-size: 17px"><b>Implementation Start Date:</b></h1></td>
    <td> <h1 style="font-size: 17px"><b> <apex:inputfield value="{!Change_control_request__c.Implementation_Start_Date__c}" /></b></h1></td>
    
<td><h1 style="font-size: 17px"><b>Implementation End Date:</b></h1></td>
<td><h1 style="font-size: 17px"><b><apex:inputfield value="{!Change_control_request__c.Implementation_End_Date__c}" /></b></h1></td>
  </tr>
  <tr style="border-bottom: 3px solid black">
  <td><h1 style="font-size: 17px"><b>Request Title:</b></h1></td>
   <td><h1 style="font-size: 17px"><b><apex:inputfield value="{!Change_control_request__c.Request_Title__c}" /></b></h1></td>
   <td></td>
  <td></td>
  </tr>
  <tr style="border-bottom: 3px solid black">
  <td><h1 style="font-size: 17px"><b>Initiator Name:</b></h1></td>
   <td><h1 style="font-size: 17px"><b><apex:inputfield value="{!Change_control_request__c.Initiator_Name__c}" /></b></h1></td>
  <td><h1 style="font-size: 17px"><b>Initiator Phone:</b></h1></td>
  <td><h1 style="font-size: 17px"><b><apex:inputfield value="{!Change_control_request__c.Initiator_Phone__c}" /></b></h1></td>
  </tr>
<tr style="border-bottom: 3px solid black">
    <td><h1 style="font-size: 17px"><b>Initiator E-mail:</b></h1></td>
    <td><h1 style="font-size: 17px"> <b> <apex:inputfield value="{!Change_control_request__c.Initiator_E_mail__c}" /></b></h1></td>
<td><h1 style="font-size: 17px"><b>CC E-mail:</b> </h1><b><img src="/img/func_icons/util/help16.png" height="10" width="10" Class="imgclass" title=" Please list all the E-mail id's separated by a comma (' , ')."  /></b></td>
<td><h1 style="font-size: 17px"><b><apex:inputfield value="{!Change_control_request__c.CC_Email__c}" /></b> </h1></td> 
</tr>
</table>
</div >
<br/>  <br/>  <h1 style="font-size: 25px"> <span style="padding-left:20px"> Details of Change</span></h1>  <br/>  
<div class="container">
<table  class="table" style="width:98%;align-center; border: 3px solid black; border-collapse: collapse;">

<tr style="border-bottom:3px solid black">
<td><h1 style="font-size: 17px"><b>Impact to Other Vendor:&nbsp;&nbsp;<apex:inputfield value="{!Change_control_request__c.Impact_to_Other_Vendor__c}" /></b></h1></td>
 <td><h1 style="font-size: 17px"><b>Notified Other Vendor:&nbsp;&nbsp;<apex:inputfield value="{!Change_control_request__c.Notified_Other_Vendor__c}" /></b></h1> </td>
 <td> </td>
 <td> </td>
</tr>
<tr style="border-bottom:3px solid black">
<td><h1 style="font-size: 17px"><b>Categories of Change:&nbsp;&nbsp;<apex:inputfield value="{!Change_control_request__c.Categories_Of_Change__c}" /></b></h1></td>
 <td><h1 style="font-size: 17px"><b></b></h1> </td>
 <td> </td>
 <td> </td>
</tr>
<tr style="border-bottom:3px solid black">
<td><h1 style="font-size: 17px"><b>Type of Change:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<apex:inputfield value="{!Change_control_request__c.Types_of_Change__c}" /></b></h1></td>
 <td><h1 style="font-size: 17px"><b></b></h1></td>
 <td> </td>
 <td> </td>
 </tr>
 
  <tr style="border-bottom:3px solid black">
 <td><h1 style="font-size: 17px"><b>Description of Change:<apex:inputfield styleClass="form-control" required="true" value="{!Change_control_request__c.Description_of_Change__c}" /></b></h1></td>
<td><h1 style="font-size: 17px"><b> </b></h1></td><br/>
<td> </td>
<td> </td>
</tr>

<tr style="border-bottom: 3px solid black">
  <td> <h1 style="font-size: 17px"><b>Go/No-Go Authorizer:&nbsp;&nbsp;<apex:inputfield value="{!Change_control_request__c.Go_No_go_authorizer__c}" /></b></h1></td>
    <td><h1 style="font-size: 17px"><b></b></h1> </td>  
   <td> </td>
   <td> </td>
   </tr>
</table>
</div>
<br/>
<div class="container">
<table class="table" style="width:98%;align-center; border: 3px solid black; border-collapse: collapse;">
  
    <tr style="border-bottom: 3px solid black">
     <td><h1 style="font-size: 17px"><b>Impact to System Availability:</b></h1></td>
     <td><h1 style="font-size: 17px"><b><apex:inputfield value="{!Change_control_request__c.Impact_to_System_Availability__c}" /></b></h1></td>
     <td><h1 style="font-size: 17px"><b>If yes, Please include the downtime message to be sent to  customer.Reference prior page</b></h1></td>
  </tr>
  
 <tr style="border-bottom: 3px solid black">
     <td><h1 style="font-size: 17px"><b>Testing Complete?:</b></h1></td>
     <td><h1 style="font-size: 17px"><b><apex:inputfield value="{!Change_control_request__c.Testing_Complete__c}" /></b></h1></td>
     <td><h1 style="font-size: 17px"><b>If testing is not complete, approval is contingent on test results being provided to CC Mgr. by E-mail before implementation</b></h1></td>
  </tr>
  
 <tr style="border-bottom: 3px solid black">
     <td><h1 style="font-size: 17px"><b>Test Results Attached?:</b></h1></td>
     <td><h1 style="font-size: 17px"><b><apex:inputfield value="{!Change_control_request__c.Test_Results_Attached__c}" /></b></h1></td>
     <td></td>
  </tr>
 </table>
 </div>
 <br/>
  <div class="container">
  <apex:actionRegion >
 <apex:outputPanel id="Envi">

 <table  class="table" style="width:98%;align-center; border: 3px solid black; border-collapse: collapse;" id="tblenv">
   <tr style="border-bottom: 3px solid black">
  <td> <h1 style="font-size: 17px"><b>Environment </b></h1></td>
   <td> <h1 style="font-size: 17px"><b>Applications Affected</b></h1></td>
    <td><h1 style="font-size: 17px"><b> Required Resources </b></h1> <b><img src="/img/func_icons/util/help16.png" height="10" width="10" Class="imgclass" title="Please list the eFront, CA, Datapipe, or CalPERS resources required for this change.  Where possible include the actual resources name."  /></b></td>
   
     <td><h1 style="font-size: 17px"> <b>Business Units Impacted </b></h1></td>
     <td> <h1 style="font-size: 17px"><b>Contacts Notified</b> </h1></td>
     </tr>

    
     <apex:repeat value="{!EnviList}" var="Env">
   <tr style="border-bottom: 3px solid black">
  <td> <h1 style="font-size: 17px"><b><apex:inputfield value="{!Env.name}" /></b></h1></td>
  <td><h1 style="font-size: 17px"><b> <apex:inputfield value="{!Env.Applications_affected__c}" /></b></h1></td>
  <td> <h1 style="font-size: 17px"><b><apex:inputfield value="{!Env.Required_Rsources__c}" /></b></h1></td>
  <td> <h1 style="font-size: 17px"><b><apex:inputfield value="{!Env.Business_Units_Impacted__c}" /></b></h1></td>
  <td><h1 style="font-size: 17px"><b> <apex:inputfield value="{!Env.Contacts_Notified__c}" /></b></h1></td>
  </tr>
  
  
    </apex:repeat>
 
  </table>
  
  </apex:outputPanel>
 
 
<apex:commandLink value="Add more" action="{!AddMoreEnvi}"  rerender="Envi"/> 
<!--
<input type="button" value="Load More" onclick="AddMoreEnvi();"/> -->
 </apex:actionRegion>
 
<!--<apex:outputPanel >
<apex:outputtext >  Test </apex:outputtext>
<apex:actionSupport event="onclick" action="{!AddMoreEnvi}" reRender="Envi"/>
</apex:outputPanel> -->
  <br/>  <br/>  <h1 style="font-size: 25px"> UAT Approval </h1> <br/><br/>
  <apex:actionRegion >
 <apex:outputPanel id="uata">
  <table class="table" style="width:98%;align-center; border: 3px solid black; border-collapse: collapse;" id="tblenv">
  
   <tr  style="border-bottom: 3px solid black">
  <td> <h1 style="font-size: 17px"><b>Approver Name</b></h1></td>
   <td> <h1 style="font-size: 17px"><b>Unit</b></h1></td>
    <td><h1 style="font-size: 17px"><b>Date</b></h1></td>    
     </tr>
     <apex:repeat value="{!UATAppList}" var="UATApp">
     <tr style="border-bottom: 3px solid black">
  <td> <h1 style="font-size: 17px"><b><apex:inputField value="{!UATApp.name}"/></b> </h1></td>
   <td> <h1 style="font-size: 17px"><b><apex:inputField value="{!UATApp.Unit__c}"/></b></h1></td>
    <td> <b><apex:inputField value="{!UATApp.Approval_Date__c}"/> </b></td>    
     </tr>
     </apex:repeat>
     </table>
     </apex:outputPanel>
     <br/><apex:commandLink value="Add more" action="{!AddMoreUAT}" rerender="uata" /> 
     </apex:actionRegion>
     
<!--</apex:actionRegion>
<br/>
   <br/>  <h1 style="font-size: 13px">Management Sign Off </h1> <br/>
   <apex:actionRegion >
      <table style="width:100%;align-center; border: 3px solid black; border-collapse: collapse;" id="tblenv">
  
   <tr style="border-bottom: 3px solid black">
  <td> <h1 style="font-size: 13px">Approver Name</h1></td>   
    <td> <h1 style="font-size: 13px">Date</h1></td>    
     </tr>
          <apex:repeat value="{!MGMTAppList}" var="MGMTApp">
     <tr style="border-bottom: 3px solid black">
  <td> <apex:inputField value="{!MGMTApp.name}"/> </td> 
    <td><b> <apex:inputField value="{!MGMTApp.Approval_Date__c}"/> </b></td>    
     </tr> 
         </apex:repeat>

     </table>
 <apex:commandLink value="Add more" action="{!AddMoreMgmt}" /> 
</apex:actionRegion>-->
<br/> <br/>
<table style="width:98%;align-center; border: 3px solid black; border-collapse: collapse;">
  <tr style="border-bottom:3px solid black">
  <td><h1 style="font-size: 17px"><center><font color="blue"><i>****Upon implementation of the change, the vendor will perform agreed upon testing in production to ensure implementation was successful****</i></font></center></h1></td>
    <td></td>
    <td></td>
    </tr>
</table>
 </div>

  <!-- <apex:pageBlockSection title="Add Attachments"  columns="3" > 
   <apex:repeat value="{!objAttachmentList}" var="objAttachment">   
              <apex:inputfile value="{!objAttachment.body}" filename="{!objAttachment.name}"></apex:inputfile> 
             </apex:repeat>
              </apex:pageBlockSection>  -->
              
        </div>
              </apex:pageblock>
              <apex:pageBlock >
 
    <DIV class="footer text-center">
      <SPAN class="tagline">We serve those who serve California.</SPAN><BR/>© 
        Copyright 2015 California Public Employees' Retirement System (CalPERS)
        <BR/><BR/>
    </DIV>
 </apex:pageBlock>
              
              
              
              
          </div>
               
              </apex:form>
              </body>
              </html>
</apex:page>