<apex:page cache="false" name="CustomUnauthorized" id="thisPage" controller="InvestmentSubmissionController" title="Investment Proposal" showHeader="false" sidebar="false" standardStylesheets="false">
    <apex:stylesheet value="{!URLFOR($Resource.IPTS_Styles, '/ipts/css/reset.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.IPTS_Styles, '/ipts/css/style.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.IPTS_CustomStyles)}"/>
    <script src="{!$Resource.IPTS_Script}" type="text/javascript"/>
    <body>
        <div id="mainContent">
            <h1>Proposal Submission Error</h1>
            <h2>Please ensure your attachments do not exceed 20 MB per file, and the filename does not exceed 80 characters. Multiple attachments are allowed.</h2>
            <br></br>
            <br></br>
            <br></br>
            <h2>If you have attachments over 20 MB, please contact <a href="mailto:investmentproposals@calpers.ca.gov">investmentproposals@calpers.ca.gov</a>.</h2>
            <br></br>
            <br></br>
            <br></br>     
        </div>
        <apex:form >
      <ol class="buttons">
         <li><a href="javascript: history.go(-1)">Click here to return to your proposal</a></li>
     </ol>
     </apex:form> 
        <iframe id="grandChild" style="display: none" title="Frame to display the Investment Proposal form."></iframe>
        <script src="{!$Resource.IPTS_Resize}" type="text/javascript"/>
        <script src="{!$Resource.IPTS_Session}" type="text/javascript"/>
    </body>
</apex:page>