<apex:page >
  <html><head>
<meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE" />
<meta HTTP-EQUIV="Expires" content="Mon, 01 Jan 1990 12:00:00 GMT" />
<meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" /></head><body><table style="width: 100%; background: #D3D3D3; border-collapse: collapse; border-spacing: 0">
<tbody>
<tr>
<td style="padding-bottom: 160px; padding-top: 200px; padding-left: 0px; padding-right: 0px">
<table align="center" style="width: 660px; background: white; border-collapse: collapse; border-spacing: 0">
<tbody>
<tr>
<td>
<div style="margin: 10px 10px 23px">
<img src="http://www.calpers.ca.gov/img/calpers-email-subscriptions.jpg" /></div>
</td>
</tr>
<tr>
<td>
<table style="margin: 0px 10px">
<tbody>
<tr>
<td style="border-left: #cccccc 1px solid; padding-bottom: 0px; padding-top: 0px; padding-left: 10px; padding-right: 10px" valign="top" width="30%">
<h2 style="font-size: 14px; font-family: helvetica, arial, sans-serif; border-bottom: #577797 1px solid; font-weight: normal; color: #577797; margin: 0px 0px 5px; display: block; line-height: 18px">
About Subscription Confirmation</h2>
<p style="font-size: 12px; font-family: helvetica, arial, sans-serif; color: #333333; margin: 0px 0px 18px; display: block; line-height: 18px">
Thank you for subscribing to receive updates on manager solicitations and other CalPERS Investment Office news and events.</p>
<p style="font-size: 12px; font-family: helvetica, arial, sans-serif; color: #333333; margin: 0px 0px 18px; display: block; line-height: 18px">
Please add this email invo_solicitationsnews@calpers.ca.gov to your Contacts to avoid messages sent to your spam folder</p> 
<p style="font-size: 12px; font-family: helvetica, arial, sans-serif; color: #333333; margin: 0px 0px 18px; display: block; line-height: 18px">
Your subscription expires after 18 months. You will receive two email messages alerting you to the expiration of your subscription.</p> 
<p style="font-size: 12px; font-family: helvetica, arial, sans-serif; color: #333333; margin: 0px 0px 18px; display: block; line-height: 18px">
If your email address changes you will need to re-subscribe. </p> 
<p style="font-size: 12px; font-family: helvetica, arial, sans-serif; color: #333333; margin: 0px 0px 18px; display: block; line-height: 18px">
Thank you for your interest in CalPERS.</p>
<p style="font-size: 12px; font-family: helvetica, arial, sans-serif; color: #333333; margin: 0px 0px 18px; display: block; line-height: 18px">
Regards,<br/>

CalPERS Investment Office
</p>
<h2 style="font-size: 14px; font-family: helvetica, arial, sans-serif; border-bottom: #577797 1px solid; font-weight: normal; color: #577797; margin: 0px 0px 5px; display: block; line-height: 18px">
Follow Us</h2>
<table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
<tbody>
<tr>
<td style="padding-bottom: 5px; padding-top: 5px; padding-left: 0px; padding-right: 0px">
<a href="http://www.facebook.com/mycalpers"><img src="http://www.calpers.ca.gov/img/facebook.gif" style="border-top: 0px solid; height:16px; border-right: 0px solid; width: 16px; border-bottom: 0px solid; border-left: 0px solid" /></a></td>
<td>
<a href="http://twitter.com/CalPERS"><img src="http://www.calpers.ca.gov/img/twitter.gif" style="border-top: 0px solid; height: 16px; border-right: 0px solid; width: 16px; border-bottom: 0px solid; border-left: 0px solid" /></a></td>
<td>
<a href="https://plus.google.com/100032759089892882612"><img src="http://www.calpers.ca.gov/img/googleplus.gif" style="border-top: 0px solid; height: 16px; border-right: 0px solid; width: 16px; border-bottom: 0px solid; border-left: 0px solid" /></a></td>
<td>
<a href="http://www.linkedin.com/company/calpers"><img src="http://www.calpers.ca.gov/img/linkedin.gif" style="border-top: 0px solid; height: 16px; border-right: 0px solid; width: 16px; border-bottom: 0px solid; border-left: 0px solid" /></a></td>
<td>
<a href="http://www.youtube.com/user/calpersnetwork"><img src="http://www.calpers.ca.gov/img/youtube.png" style="border-top: 0px solid; height: 16px; border-right: 0px solid; width: 16px; border-bottom: 0px solid; border-left: 0px solid" /></a></td>
<td style="padding-bottom: 5px; padding-top: 5px; padding-left: 0px; padding-right: 0px">
<a href="http://instagram.com/calpers"><img src="https://www.calpers.ca.gov/img/instagram.gif" style="border-top: 0px solid; height: 16px; border-right: 0px solid; width: 16px; border-bottom: 0px solid; border-left: 0px solid" /></a></td>
<td>
<a href="https://www.calpers.ca.gov/page/rss"><img src="http://www.calpers.ca.gov/img/rss.gif" style="border-top: 0px solid; height: 16px; border-right: 0px solid; width: 16px; border-bottom: 0px solid; border-left: 0px solid" /></a></td>
</tr>
</tbody>
</table>
</td>



<tr>
<td style="padding-bottom: 10px; padding-top: 10px; padding-left: 10px; padding-right: 10px">
<table style="width: 100%; background: #dedede; margin: 25px 0px 0px">
<tbody>
<tr>
<td align="center" style="padding-bottom: 10px; padding-top: 10px; padding-left: 0px; padding-right: 0px">
<p style="font-size: 12px; font-family: helvetica, arial, sans-serif; color: #333333; margin: 0px; line-height: 18px">
<a href="http://www.calpers.ca.gov/page/privacy-policy">Privacy Policy</a> | <a href="http://www.calpers.ca.gov/page/conditions-of-use">Conditions of Use</a> | <a href="http://www.calpers.ca.gov/page/accessibility">Accessibility</a> | <a href="http://www.calpers.ca.gov/page/rss">RSS</a> | © Copyright 2016 CalPERS</p>
</td>
</tr>
<tr>
<td align="center" style="padding-bottom: 10px; padding-top: 10px; padding-left: 0px; padding-right: 0px">
<p style="font-size: 12px; font-family: helvetica, arial, sans-serif; color: rgb(51,51,51); margin: 0px; line-height: 18px">
<a href="#">Update</a> your subscription or <a href="#">unsubscribe</a> from all subscriptions.</p>
</td>
</tr>
<tr>
<td align="center" style="padding-bottom: 10px; padding-top: 10px; padding-left: 0px; padding-right: 0px">
<p style="font-size: 12px; font-family: helvetica, arial, sans-serif; color: #333333; margin: 0px; line-height: 18px">
<strong>CalPERS Headquarters</strong>
Lincoln Plaza North, 400 Q Street, Sacramento, CA 95811</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr></tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<p>
</p> </td></tr></tbody> </table>
</body></html>
</apex:page>