<apex:page cache="false" name="IPTS_CheckStatus" controller="InvestmentSubmissionController" title="Investment Proposal" showHeader="false" sidebar="false">
	<apex:stylesheet value="{!URLFOR($Resource.InvestmentSubmissionStyles)}"/>
	<apex:form >
		<apex:outputPanel id="proposalPanel">
			<div class="pagetitle">
				<h1>Investment Proposal</h1>
			</div>
			<div class="spacer"></div>
			<div class="reqnote"><sup class="required">*</sup>&nbsp;&nbsp;Required</div>
			<div class="spacer"></div>
			<div class="ruler">
				<hr/>
			</div>
			<div style="width: 900px;">
				<p>
					<u>Important Information Regarding CalPERS And Your Investment Proposal</u><br />
					<br /> 
					CalPERS was created by statute in 1932 and is a unit of the California State and Consumer Services Agency.  As a public agency, CalPERS is subject to a myriad of laws mandating the disclosure of certain types of information to the public. Many of these laws require CalPERS to make public information regarding its investment operations, its investment decision-making process, as well as the performance of its investments.  For an introduction to the laws, regulations, and policies relating to these issues, please read the information located at the following link Notes on Confidentiality.  Please note that before submitting an investment proposal you will be asked to acknowledge that CalPERS is subject to laws, regulations, and policies that may require it to disclose to the public some or all of the information you submit through this website.
				</p>
			</div>
			<div class="thickspacer"></div>
			<apex:outputPanel >
				<fieldset>
					<legend>Submission Information</legend>
					<!-- 
					<div class="sectiontitle">
						<h2>Referrer Information</h2>
					</div>
					<div class="spacer"></div><hr/>
					-->
					<div class="spacer"/>
					<div class="halfrow leftcol">
						<label>Submittor Email Address<sup class="required">*</sup></label>
					</div>
					<div class="halfrow rightcol">
						<label>Submission Number<sup class="required">*</sup></label>
					</div>
					<div class="halfrowinput leftcol"> 
						<span class="form">
							<apex:inputField value="{!referrer.FirstName}" required="true"/>
						</span>
					</div>
					<div class="halfrowinput rightcol">
						<span class="form">
							<apex:inputField value="{!referrer.LastName}" required="true"/>
						</span>
					</div>
				</fieldset>
			</apex:outputPanel>
			<div class="spacer"></div>
			<div class="thickspacer"></div>
			<div class="btnbottom">
				<apex:commandButton value="Next" action="{!continueFromRoot}"></apex:commandButton>
				<apex:commandLink value="Cancel" action="{!cancel}" target="_top" immediate="true"></apex:commandLink>
			</div>
			<hr/>
		</apex:outputPanel>
	</apex:form>
</apex:page>