<apex:page cache="false" name="IPTS_AssetClass" id="thisPage" controller="InvestmentSubmissionController" title="Investment Proposal" showHeader="false" sidebar="false" standardStylesheets="false">
	<apex:stylesheet value="{!URLFOR($Resource.IPTS_Styles, '/ipts/css/reset.css')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.IPTS_Styles, '/ipts/css/style.css')}"/>
	<apex:stylesheet value="{!URLFOR($Resource.IPTS_CustomStyles)}"/>
	<body>
		<div id="mainContent">
			<h1>Submission Complete</h1>
			
			<apex:outputPanel id="proposalPanel">
			
				<p>
					<u>Thank You</u><br />
					<br /> 
					Thank you for your investment proposal submission.  You will be receiving an e-mail shortly confirming your submission.
				</p>
				
		</apex:outputPanel>
	</div>
</apex:page>